@media screen and (min-width: 1201px) {
  header {
    padding: 5px;
  }
  header nav {
    width: 100%;
  }
  header nav .menu-btn {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav .buttons .orangeBtn {
    display: inline-block;
  }
}
@media (max-width: 1200px) {
  body .container h2 {
    margin: 20px 0;
    font-size: 40px;
    line-height: 48px;
  }
  header {
    padding: 5px;
  }
  header nav {
    width: 100%;
  }
  header nav .menu-btn {
    background: none;
    border: none;
  }
  header nav ul {
    display: none;
  }
  header nav .buttons {
    display: flex;
  }
  header nav .buttons .orangeBtn {
    display: none;
  }
  header nav .buttons .lang {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  header nav .buttons .lang img {
    width: 30px;
    margin-left: 14px;
  }
  header nav.show-menu ul {
    display: flex;
    flex-direction: column;
  }
  #banner .container h2 {
    font-size: 48px;
  }
  #banner .container h2::after {
    top: -20px;
    right: -30px;
  }
  #banner .container .buttons button {
    width: 180px;
  }
  #banner .container .more-details {
    flex-direction: column;
  }
  #mission .missions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mission .missions .row {
    display: flex;
    flex-direction: column;
  }
  #mission .missions .row .col.center {
    position: absolute;
    z-index: -3;
    opacity: 0.4;
  }
  #mission .missions .mission-item {
    max-width: 854px;
    color: rgba(84, 83, 81, 0.7490196078);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 10px;
  }
  #mission .missions .mission-item.center {
    text-align: left;
  }
  #mission .missions .mission-item span {
    color: #ff8a00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }
  #mission .missions .mission-item img {
    width: 120%;
  }
  #publications {
    margin-bottom: 10px;
  }
  #publications .container {
    max-width: 100%;
  }
  #publications .container ul {
    flex-direction: column;
  }
  #publications .container ul li {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #publications .container ul li h6 {
    margin-bottom: 15px;
  }
  #publications .container ul li.activeBook {
    width: 190px !important;
  }
  #publications .container ul li.activeBook::after {
    display: none;
  }
  #publications .container ul .otherBooks {
    align-items: center;
    flex-direction: column;
  }
  #publications .owl-stage {
    display: flex;
  }
  #publications .owl-stage div.owl-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #publications .owl-stage div.owl-item img {
    width: 130px;
    height: 170px;
  }
  #publications .owl-stage div.owl-item.activeBook img {
    width: 350px !important;
    height: auto;
  }
  #publications h6 {
    font-size: 14px;
    margin-top: -2px;
    text-align: center;
  }
  #latest-news {
    padding-top: 30px;
  }
  #latest-news .container .news-block {
    flex-direction: column;
    align-items: center;
  }
  #latest-news .container .news-block .center-block {
    width: 344px;
  }
  #latest-news .container .news-block .center-block .img-box {
    height: 336px;
  }
  #projects {
    padding: 30px;
  }
  #projects h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  #projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #projects .container .card {
    width: 40%;
    margin: 20px;
    padding: 23px;
    border-radius: 8px;
    border: 1px solid #ffba6d;
    background: linear-gradient(161deg, rgba(255, 217, 171, 0.14) 15.55%, rgba(255, 209, 154, 0.25) 96.59%);
    -webkit-backdrop-filter: blur(12.5px);
            backdrop-filter: blur(12.5px);
  }
  #projects .container .card h3 {
    color: rgba(2, 7, 13, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.2px;
  }
  #projects .container .card p {
    overflow: hidden;
    color: rgba(4, 24, 47, 0.45);
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  #projects .container .card .show-more {
    display: flex;
    justify-content: flex-end;
  }
  #projects .container .card .show-more a {
    color: #ff8a00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  footer {
    padding-top: 100px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container > div {
    width: 80%;
  }
  footer .container > div:first-child {
    width: 90%;
  }
  footer .container > div.menu {
    width: 45%;
  }
}
@media screen and (max-width: 376px) {
  #banner .container h2::after {
    right: 10px;
  }
}/*# sourceMappingURL=media-style.css.map */