ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.orangeBtn {
  padding: 6px 40px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.8px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 10px;
  width: 100%;
}

header.sticky-navbar {
  position: fixed;
  background-image: linear-gradient(167deg, #fff7ed 9.35%, #ffe8cb 90.7%);
  -webkit-box-shadow: 5px 3px 14px 2px #ebe2d8b8;
          box-shadow: 5px 3px 14px 2px #ebe2d8b8;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

header nav ul li {
  margin: 5px;
}

header nav ul li a {
  color: #5c5041;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .buttons .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .buttons .lang img {
  width: 30px;
  margin-left: 14px;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

body section {
  overflow: hidden;
}

body .container {
  max-width: 1240px;
  margin: auto;
}

body .container h2 {
  text-align: center;
  color: #ff8a00;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
}

body .container h2 span {
  color: #1b1b1b;
}

body #chairperson {
  padding: 90px 0;
}

body #chairperson .container h2 {
  text-align: left;
}

body #chairperson .container .chairperson-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #chairperson .container .chairperson-container img {
  width: 30%;
  margin-right: 5%;
}

body #chairperson .container .chairperson-container p {
  width: 62%;
  color: #545351bf;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
}

body #banner {
  padding: 80px 0;
  background-image: url(../images/bannerBg.png);
  background-size: cover;
}

body #banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #banner .container h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 600;
  background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  margin: 40px 0 24px;
}

body #banner .container h2::after {
  content: "";
  position: absolute;
  top: -17px;
  right: -30px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/titleIndex.svg);
}

body #banner .container p {
  color: rgba(84, 83, 81, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
  max-width: 1020px;
}

body #banner .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #banner .container .buttons a {
  width: 200px;
  border: none;
  padding: 12px 40px;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.8px;
}

body #banner .container .buttons a.explore-btn {
  margin-right: 12px;
  color: #fff;
  background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
}

body #banner .container .buttons a.contact-btn {
  background-color: #fff;
  color: #ff3d00;
  border: 1px solid #ff7042;
}

body #banner .container .buttons a:hover {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(127deg, #ff5016 36.5%, #ff9514 78.55%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #banner .container .more-details {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1060px;
  padding: 11px;
  border-radius: 24px;
  border: 1px solid #ff910f;
  background: #fffdfa;
}

body #banner .container .more-details .detail-item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px;
  font-size: 60px;
  width: 320px;
  border-radius: 12px;
  border: 1px solid #f4e0c6;
  background: linear-gradient(149deg, #ffe6c6 5.58%, #fff3e2 79.53%);
}

body #banner .container .more-details .detail-item .icon {
  width: 124px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  border: 1px solid #fff5e7;
  background: linear-gradient(141deg, #ffedd4 15.8%, #ffd8a3 84.41%);
  font-size: 66px;
  line-height: 88px;
  margin: 12px 0;
}

body #banner .container .more-details .detail-item span {
  color: #341d00;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}

body #banner .container .more-details .detail-item span::after {
  content: "";
  height: 7px;
  width: 7px;
  border-top: 2px solid #341d00;
  border-right: 2px solid #341d00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -15px;
  top: 13px;
}

body #banner .container .more-details .detail-item p {
  width: 80%;
  margin: 12px auto;
}

body #banner .container .more-details .detail-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #mission .missions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #mission .missions .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #mission .missions .row .col.center .mission-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #mission .missions .mission-item {
  max-width: 854px;
  color: #545351bf;
  font-size: 16px;
  line-height: 24px;
  margin: 40px 0;
}

body #mission .missions .mission-item.center {
  text-align: center;
}

body #mission .missions .mission-item span {
  color: #ff8a00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

body #mission .missions .mission-item img {
  width: 120%;
}

body #publications {
  margin-bottom: 70px;
}

body #publications .container {
  max-width: 100%;
}

body #publications .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

body #publications .container ul .otherBooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #publications .container li {
  display: inline-block;
  margin-right: 44px;
  width: 190px;
  overflow: hidden;
}

body #publications .container li img {
  width: 100%;
  height: 263px;
}

body #publications .container li.activeBook {
  width: 320px !important;
  position: relative;
  overflow: unset;
}

body #publications .container li.activeBook::after {
  content: url(../images/bookHandler.png);
  position: absolute;
  z-index: -2;
  bottom: -200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1186.016px;
}

body #publications .container li.activeBook img {
  height: auto;
}

body #publications .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #publications .owl-stage div.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #publications .owl-stage div.owl-item img {
  width: 130px;
  height: 170px;
}

body #publications .owl-stage div.owl-item.activeBook img {
  width: 350px !important;
  height: auto;
}

body #publications h6 {
  font-size: 14px;
  margin-top: -2px;
  text-align: center;
}

body #latest-news {
  padding-top: 100px;
}

body #latest-news .container .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #latest-news .container .news-block > div {
  margin: 20px;
}

body #latest-news .container .news-block .news-item {
  display: inline-block;
}

body #latest-news .container .news-block .news-item .img-box {
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

body #latest-news .container .news-block .news-item .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #latest-news .container .news-block .side-block {
  width: 344px;
}

body #latest-news .container .news-block .side-block .img-box {
  height: 336px;
}

body #latest-news .container .news-block .center-block {
  width: 512px;
}

body #latest-news .container .news-block .center-block .img-box {
  height: 568px;
}

body #latest-news .container .news-block .divider {
  margin: 16px 0;
  border: none;
  border-bottom: 1px solid #ffc582;
}

body #projects {
  padding: 30px;
}

body #projects h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body #projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #projects .container .card {
  width: 40%;
  margin: 20px;
  padding: 23px;
  border-radius: 8px;
  border: 1px solid #ffba6d;
  background: linear-gradient(161deg, rgba(255, 217, 171, 0.14) 15.55%, rgba(255, 209, 154, 0.25) 96.59%);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}

body #projects .container .card h3 {
  color: rgba(2, 7, 13, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.2px;
}

body #projects .container .card p {
  overflow: hidden;
  color: rgba(4, 24, 47, 0.45);
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
}

body #projects .container .card .show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #projects .container .card .show-more a {
  color: #ff8a00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
}

body main#organization {
  background-image: url(../images/teshkilat/organizationBg2.png);
}

body main#organization #organization_banner {
  background-image: url(../images/teshkilat/organizationBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

body main#organization #organization_banner h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  margin: 0;
  text-align: left;
}

body main#organization #organization_banner h2.firstLine {
  color: #ff8a00;
}

body main#organization #organization_banner h2.secondLine {
  color: #ffbb6a;
}

body main#organization #organization_banner .banner-images {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main#organization #organization_banner .banner-images img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main#organization #organization_banner .banner-images img.firstImg {
  width: 67%;
}

body main#organization #organization_banner .banner-images img.secondImg {
  width: 30%;
}

body main#organization #organization_banner hr {
  height: 2px;
  background-color: #ff8a00;
  border: none;
  width: 85%;
  margin: auto;
  margin-top: 120px;
}

body main#organization #organization_aboutUs .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

body main#organization #organization_aboutUs .header h2 {
  margin: 12px 0 24px;
}

body main#organization #organization_aboutUs p {
  color: #545351bf;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

body footer {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url(../images/footerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container > div {
  width: 23%;
  margin: 0 20px;
}

body footer .container > div a {
  color: rgba(52, 29, 0, 0.65);
  font-size: 16px;
  margin: 8px 0;
  display: inline-block;
}

body footer .container > div:first-child {
  width: 31%;
  margin-right: 30px;
}

body footer .container > div:first-child p {
  color: rgba(84, 83, 81, 0.75);
  font-size: 16px;
}

body footer .divider {
  border: 0.5px solid rgba(255, 138, 0, 0.25);
}

body footer p.copyright {
  margin: 0;
  margin-top: 32px;
  color: rgba(52, 29, 0, 0.65);
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=style-v2.css.map */