ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
.orangeBtn {
  padding: 6px 40px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.8px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 10px;
  width: 100%;
  &.sticky-navbar {
    background-image: linear-gradient(167deg, #fff7ed 9.35%, #ffe8cb 90.7%);
    box-shadow: 5px 3px 14px 2px #ebe2d8b8;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    ul {
      display: flex;
      display: none;
      li {
        margin: 5px;
        a {
          color: #5c5041;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          padding: 24px;
          margin: 8px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    .buttons {
      display: flex;
      .lang {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          margin-left: 14px;
        }
      }
    }
  }
}
body {
  margin: 0;
  // background-image: linear-gradient(167deg, #ffae4c36 9.35%, #ffae4c0d 90.7%);
  scroll-behavior: smooth;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    max-width: 1240px;
    margin: auto;

    h2 {
      text-align: center;
      color: #ff8a00;
      font-size: 56px;
      font-weight: 500;
      line-height: 64px;
      span {
        color: #1b1b1b;
      }
    }
  }
 
}
#banner {
  padding: 80px 0;
  background-image: url("../img/bannerBg.png");
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 64px;
      font-weight: 600;
      background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      display: inline-block;
      margin: 40px 0 24px;
      &::after {
        content: "";
        position: absolute;
        top: -17px;
        right: -30px;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/titleIndex.svg);
      }
    }
    p {
      color: rgba(84, 83, 81, 0.75);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.32px;
      max-width: 1020px;
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 200px;
        border: none;
        padding: 12px 40px;
        border-radius: 12px;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.8px;

        &.explore-btn {
          margin-right: 12px;
          color: #fff;
          background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
        }
        &.contact-btn {
          background-color: #fff;
          color: #ff3d00;
          border: 1px solid #ff7042;
        }
        &:hover {
          cursor: pointer;
          color: #fff;
          background: linear-gradient(127deg, #ff5016 36.5%, #ff9514 78.55%);
          transition: 0.3s;
        }
      }
    }
    .more-details {
      margin-top: 56px;
      display: flex;
      justify-content: center;
      max-width: 1060px;
      padding: 11px;
      border-radius: 24px;
      border: 1px solid #ff910f;
      background: #fffdfa;
      .detail-item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 13px;
        font-size: 60px;
        width: 320px;
        border-radius: 12px;
        border: 1px solid #f4e0c6;
        background: linear-gradient(149deg, #ffe6c6 5.58%, #fff3e2 79.53%);
        .icon {
          width: 124px;
          height: 124px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          border: 1px solid #fff5e7;
          background: linear-gradient(141deg, #ffedd4 15.8%, #ffd8a3 84.41%);
          font-size: 66px;
          line-height: 88px;
          margin: 12px 0;
        }
        span {
          color: #341d00;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          position: relative;
          &::after {
            content: "";
            height: 7px;
            width: 7px;
            border-top: 2px solid #341d00;
            border-right: 2px solid #341d00;
            transform: rotate(45deg);
            position: absolute;
            right: -15px;
            top: 13px;
          }
        }
        p {
          width: 80%;
          margin: 12px auto;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
#mission {
  .missions {
    display: flex;
    flex-direction: column;
    align-items: center;
    .row {
      display: flex;
      .col.center {
        .mission-item {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .mission-item {
      max-width: 854px;
      color: #545351bf;
      font-size: 16px;
      line-height: 24px;
      margin: 40px 0;
      &.center {
        text-align: center;
      }
      span {
        color: #ff8a00;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
      }
      img {
        width: 120%;
      }
    }
  }
}

#publications {
  margin-bottom: 70px;
  .container {
    max-width: 100%;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .otherBooks {
        display: flex;
        align-items: flex-end;
      }
    }

    li {
      display: inline-block;
      margin-right: 44px;
      width: 190px;
      overflow: hidden;
      img {
        width: 100%;
        height: 263px;
      }
      &.activeBook {
        width: 320px !important;
        position: relative;
        overflow: unset;
        &::after {
          content: url(../img/bookHandler.png);
          position: absolute;
          z-index: -2;
          bottom: -200px;
          left: 50%;
          transform: translateX(-50%);
          width: 1186.016px;
        }
        img {
          height: auto;
        }
      }
    }
  }

  .owl-stage {
    display: flex;

    div.owl-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      img {
        width: 130px;
        height: 170px;
      }
      &.activeBook {
        img {
          width: 350px !important;
          height: auto;
        }
      }
    }
  }

  h6 {
    font-size: 14px;
    margin-top: -2px;
    text-align: center;
  }
}

#latest-news {
  padding-top: 100px;
  .container {
    .news-block {
      display: flex;
      justify-content: space-between;
      & > div {
        margin: 20px;
      }
      .news-item {
        display: inline-block;
        .img-box {
          border-radius: 8px;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .side-block {
        width: 344px;
        .img-box {
          height: 336px;
        }
      }

      .center-block {
        width: 512px;
        .img-box {
          height: 568px;
        }
      }
      .divider {
        margin: 16px 0;
        border: none;
        border-bottom: 1px solid rgb(255, 197, 130);
      }
    }
  }
}

#projects {
  padding: 30px;
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      width: 40%;
      margin: 20px;
      padding: 23px;
      border-radius: 8px;
      border: 1px solid #ffba6d;

      background: linear-gradient(161deg, rgba(255, 217, 171, 0.14) 15.55%, rgba(255, 209, 154, 0.25) 96.59%);

      backdrop-filter: blur(12.5px);
      h3 {
        color: rgba(2, 7, 13, 0.9);

        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -1.2px;
      }
      p {
        overflow: hidden;
        color: rgba(4, 24, 47, 0.45);

        text-overflow: ellipsis;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.32px;
      }
      .show-more {
        display: flex;
        justify-content: flex-end;
        a {
          color: #ff8a00;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          letter-spacing: -0.32px;
        }
      }
    }
  }
}

footer {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url(../img/footerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & > div {
      width: 23%;
      margin: 0 20px;
      a {
        color: rgba(52, 29, 0, 0.65);
        font-size: 16px;
        margin: 8px 0;
        display: inline-block;
      }
      &:first-child {
        width: 31%;
        margin-right: 30px;
        p {
          color: rgba(84, 83, 81, 0.75);
          font-size: 16px;
        }
      }
    }
  }
  .divider {
    border: 0.5px solid rgba(255, 138, 0, 0.25);
  }
  p.copyright {
    margin: 0;
    margin-top: 32px;
    color: rgba(52, 29, 0, 0.65);
    font-size: 14px;
    text-align: center;
  }
}
