ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.orangeBtn {
  padding: 6px 40px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.8px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 10px;
  width: 100%;
}
header.sticky-navbar {
  background-image: linear-gradient(167deg, #fff7ed 9.35%, #ffe8cb 90.7%);
  box-shadow: 5px 3px 14px 2px rgba(235, 226, 216, 0.7215686275);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
header nav ul {
  display: flex;
  display: none;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  color: #5c5041;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 24px;
  margin: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
header nav .buttons {
  display: flex;
}
header nav .buttons .lang {
  display: flex;
  align-items: center;
}
header nav .buttons .lang img {
  width: 30px;
  margin-left: 14px;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}
body .container {
  max-width: 1240px;
  margin: auto;
}
body .container h2 {
  text-align: center;
  color: #ff8a00;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
}
body .container h2 span {
  color: #1b1b1b;
}

#banner {
  padding: 80px 0;
  background-image: url("../img/bannerBg.png");
  background-size: cover;
}
#banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner .container h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 600;
  background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  margin: 40px 0 24px;
}
#banner .container h2::after {
  content: "";
  position: absolute;
  top: -17px;
  right: -30px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/titleIndex.svg);
}
#banner .container p {
  color: rgba(84, 83, 81, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  max-width: 1020px;
}
#banner .container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .container .buttons button {
  width: 200px;
  border: none;
  padding: 12px 40px;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.8px;
}
#banner .container .buttons button.explore-btn {
  margin-right: 12px;
  color: #fff;
  background: linear-gradient(127deg, #ff7042 36.5%, #ffa73f 78.55%);
}
#banner .container .buttons button.contact-btn {
  background-color: #fff;
  color: #ff3d00;
  border: 1px solid #ff7042;
}
#banner .container .buttons button:hover {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(127deg, #ff5016 36.5%, #ff9514 78.55%);
  transition: 0.3s;
}
#banner .container .more-details {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  max-width: 1060px;
  padding: 11px;
  border-radius: 24px;
  border: 1px solid #ff910f;
  background: #fffdfa;
}
#banner .container .more-details .detail-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px;
  font-size: 60px;
  width: 320px;
  border-radius: 12px;
  border: 1px solid #f4e0c6;
  background: linear-gradient(149deg, #ffe6c6 5.58%, #fff3e2 79.53%);
}
#banner .container .more-details .detail-item .icon {
  width: 124px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid #fff5e7;
  background: linear-gradient(141deg, #ffedd4 15.8%, #ffd8a3 84.41%);
  font-size: 66px;
  line-height: 88px;
  margin: 12px 0;
}
#banner .container .more-details .detail-item span {
  color: #341d00;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}
#banner .container .more-details .detail-item span::after {
  content: "";
  height: 7px;
  width: 7px;
  border-top: 2px solid #341d00;
  border-right: 2px solid #341d00;
  transform: rotate(45deg);
  position: absolute;
  right: -15px;
  top: 13px;
}
#banner .container .more-details .detail-item p {
  width: 80%;
  margin: 12px auto;
}
#banner .container .more-details .detail-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#mission .missions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mission .missions .row {
  display: flex;
}
#mission .missions .row .col.center .mission-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mission .missions .mission-item {
  max-width: 854px;
  color: rgba(84, 83, 81, 0.7490196078);
  font-size: 16px;
  line-height: 24px;
  margin: 40px 0;
}
#mission .missions .mission-item.center {
  text-align: center;
}
#mission .missions .mission-item span {
  color: #ff8a00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
#mission .missions .mission-item img {
  width: 120%;
}

#publications {
  margin-bottom: 70px;
}
#publications .container {
  max-width: 100%;
}
#publications .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
#publications .container ul .otherBooks {
  display: flex;
  align-items: flex-end;
}
#publications .container li {
  display: inline-block;
  margin-right: 44px;
  width: 190px;
  overflow: hidden;
}
#publications .container li img {
  width: 100%;
  height: 263px;
}
#publications .container li.activeBook {
  width: 320px !important;
  position: relative;
  overflow: unset;
}
#publications .container li.activeBook::after {
  content: url(../img/bookHandler.png);
  position: absolute;
  z-index: -2;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 1186.016px;
}
#publications .container li.activeBook img {
  height: auto;
}
#publications .owl-stage {
  display: flex;
}
#publications .owl-stage div.owl-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#publications .owl-stage div.owl-item img {
  width: 130px;
  height: 170px;
}
#publications .owl-stage div.owl-item.activeBook img {
  width: 350px !important;
  height: auto;
}
#publications h6 {
  font-size: 14px;
  margin-top: -2px;
  text-align: center;
}

#latest-news {
  padding-top: 100px;
}
#latest-news .container .news-block {
  display: flex;
  justify-content: space-between;
}
#latest-news .container .news-block > div {
  margin: 20px;
}
#latest-news .container .news-block .news-item {
  display: inline-block;
}
#latest-news .container .news-block .news-item .img-box {
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}
#latest-news .container .news-block .news-item .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#latest-news .container .news-block .side-block {
  width: 344px;
}
#latest-news .container .news-block .side-block .img-box {
  height: 336px;
}
#latest-news .container .news-block .center-block {
  width: 512px;
}
#latest-news .container .news-block .center-block .img-box {
  height: 568px;
}
#latest-news .container .news-block .divider {
  margin: 16px 0;
  border: none;
  border-bottom: 1px solid rgb(255, 197, 130);
}

#projects {
  padding: 30px;
}
#projects h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(164deg, #ff8a00 9.49%, rgba(255, 61, 0, 0.69) 97.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#projects .container .card {
  width: 40%;
  margin: 20px;
  padding: 23px;
  border-radius: 8px;
  border: 1px solid #ffba6d;
  background: linear-gradient(161deg, rgba(255, 217, 171, 0.14) 15.55%, rgba(255, 209, 154, 0.25) 96.59%);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}
#projects .container .card h3 {
  color: rgba(2, 7, 13, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.2px;
}
#projects .container .card p {
  overflow: hidden;
  color: rgba(4, 24, 47, 0.45);
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
#projects .container .card .show-more {
  display: flex;
  justify-content: flex-end;
}
#projects .container .card .show-more a {
  color: #ff8a00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

footer {
  padding-top: 500px;
  padding-bottom: 50px;
  width: 100%;
  background-image: url(../img/footerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container > div {
  width: 23%;
  margin: 0 20px;
}
footer .container > div a {
  color: rgba(52, 29, 0, 0.65);
  font-size: 16px;
  margin: 8px 0;
  display: inline-block;
}
footer .container > div:first-child {
  width: 31%;
  margin-right: 30px;
}
footer .container > div:first-child p {
  color: rgba(84, 83, 81, 0.75);
  font-size: 16px;
}
footer .divider {
  border: 0.5px solid rgba(255, 138, 0, 0.25);
}
footer p.copyright {
  margin: 0;
  margin-top: 32px;
  color: rgba(52, 29, 0, 0.65);
  font-size: 14px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */